:root {
  --bg: #1C1C28;
  --white: #fff;
  --grey: #C8C7D8;
  --black-grey: #393953;
  --blue: #6966FF;
}

body {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  font-family: "Circular Std", sans-serif;
  font-weight: 400;
  background-color: var(--bg);
  color: var(--white);
  scroll-behavior: smooth;
  position: relative;
  background-image: url("../../Data/globals/Grid-top.png");
  background-position: top;
  background-repeat: repeat-x;
}

.container {
  margin-inline: 32px;
}

.splide__arrow--next {
  position: absolute;
  left: 85vw;
}

.splide__arrow {
  z-index: 50;
  background-color: transparent !important;
  opacity: 1 !important;
  width: 48px;
  height: 48px;
  transform: translateY(0) !important;
}

.btn-type1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -1.1%;
  padding: 12px 16px;
  border-radius: 7px;
  background-color: var(--blue);
  transition: all 0.4s;
}

.btn-type1:hover, .btn-type2:hover {
  scale: 1.05;
}

.btn-type2 {
  padding: 12px 16px;
  border-radius: 7.29px;
  background: var(--black-grey);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -1.1%;
  text-align: center;
  transition: all 0.4s;
}

.hidden {
  display: none;
  width: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
}

.hidden2 {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.anim-lines {
  position: relative;
  display: inline-block;
  padding: 10px 0px;
  color: var(--grey);
  transition: color 0.3s ease;
}

.anim-lines::before,
.anim-lines::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--blue);
  transition: width 0.3s ease;
}

.anim-lines::before {
  top: 0;
  left: 0;
}

.anim-lines::after {
  bottom: 0;
  right: 0;
}

.anim-lines:hover::before {
  width: 100%;
  left: 0;
}

.anim-lines:hover::after {
  width: 100%;
  right: 0;
}

.load-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.5s, transform 0.5s;
}

.load-right {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.5s, transform 0.5s;
}

.load-top {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.5s, transform 0.5s;
}

.load-btm {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
}

.slow-anim {
  opacity: 1;
  transform: translate(0);
}

.container2 {
  margin-inline: 108px;
}

.main_btn-back {
  transition: all 0.5s;
}

.main_btn-back:hover {
  scale: 1.1;
}

.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2.2%;
}

.subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -1.4%;
  color: var(--grey);
}

@media (max-width: 1024px) {
  .title {
    font-size: 35px;
    line-height: 45px;
  }
  .container {
    margin-inline: 30px;
  }
  .container2 {
    margin-inline: 24px;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 30px;
    line-height: 40px;
  }
  .main_btn-back {
    transition: all 0s;
  }
  .main_btn-back:hover {
    scale: 1;
  }
  .anim-lines:hover::before {
    width: 0%;
    left: 0;
  }
  .anim-lines:hover::after {
    width: 0%;
    right: 0;
  }
  .anim-lines {
    padding: 7px 0px;
  }
  .container {
    margin-inline: 28px;
  }
  .btn-type1:hover, .btn-type2:hover {
    scale: 1;
  }
  .btn-type2, .btn-type1 {
    transition: all 0s;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 16px;
  }
  .container2 {
    margin-inline: 40px;
  }
}
@media (max-width: 478px) {
  .subtitle {
    font-size: 16px;
    line-height: 24px;
    padding: 0 3vw;
  }
  .title {
    font-size: 24px;
    line-height: 32px;
  }
  .anim-lines {
    padding: 5px 0px;
  }
  .container {
    margin-inline: 24px;
  }
  .container2 {
    margin-inline: 24px;
  }
}
.header {
  padding: 24px 0;
}

.background {
  background-image: url("../Data/globals/bg.jpeg");
  background-size: 100% 100%;
  background-repeat: repeat-x;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav-logo {
  max-width: 112px;
}
.header__nav-logo > img {
  width: 100%;
}

.header__nav_item {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header__nav_item-content {
  font-family: Space Mono;
  color: var(--grey);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  transition: all 0.5s;
}

@media (max-width: 1024px) {
  .header__nav_item {
    display: none;
  }
}
@media (max-width: 768px) {
  .header__nav_item-content {
    font-size: 15px;
    line-height: 20px;
  }
}
@media (max-width: 478px) {
  .header {
    padding: 16px 0;
  }
  .header__nav_item-content {
    font-size: 14px;
    line-height: 18px;
  }
}
.burger {
  flex-direction: column;
  width: 40px;
  height: 40px;
  justify-content: space-evenly;
  display: none;
}
.burger > div {
  width: 40px;
  height: 5px;
  border-radius: 10px;
  background-color: var(--white);
}

.burger-menu {
  background-color: var(--black-grey);
  position: fixed;
  padding: 16px 26px;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  transition: all 1s;
}

.burger__inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.header__nav-logo_media {
  max-width: 80px;
}
.header__nav-logo_media > img {
  width: 100%;
}

.burger__nav-media_links {
  display: flex;
  gap: 32px;
  align-items: center;
}

.burger-exit {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 30px;
}
.burger-exit > div {
  position: absolute;
  left: 0%;
  background-color: var(--white);
  height: 5px;
  width: 40px;
  border-radius: 10px;
}
.burger-exit > div:first-child {
  rotate: 45deg;
}
.burger-exit > div:last-child {
  rotate: -45deg;
}

.header__media-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav-media {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav-media_right {
  display: flex;
  gap: 16px;
  align-items: center;
  min-width: 100px;
}

.burger-item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  justify-content: space-between;
}

.burger-item {
  width: 100%;
  font-family: Space Mono;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  transition: all 0.5s;
}

.header__nav-media {
  display: none;
  align-items: center;
  gap: 25px;
}

@media (max-width: 1024px) {
  .header__nav-media, .burger {
    display: flex;
  }
}
@media (max-width: 768px) {
  .header__nav-media, .burger {
    display: flex;
  }
  .burger-item {
    transition: all 0s;
  }
  .burger-item:hover {
    scale: 1;
  }
}
@media (max-width: 478px) {
  .burger {
    flex-direction: column;
    width: 20px;
    height: 20px;
    justify-content: space-evenly;
    padding-inline: 15px;
  }
  .burger div {
    width: 20px;
    height: 3px;
    border-radius: 10px;
    background-color: var(--white);
  }
}
.footer {
  position: relative;
  padding: 80px 0 40px;
}

.footer-bg {
  width: 100%;
  min-width: 1440px;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.footer-wrapper {
  padding: 0 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__nav_box {
  display: flex;
}

.footer__nav_item {
  display: flex;
  align-items: center;
  gap: 32px;
}

.footer__left {
  display: flex;
  align-items: center;
  gap: 32px;
}

.footer__right {
  display: flex;
  align-items: center;
  gap: 32px;
}

@media (max-width: 1024px) {
  .footer-wrapper {
    padding: 0 0vw;
  }
  .footer {
    position: relative;
    padding: 60px 0 30px;
  }
  .footer-wrapper, .footer__nav_item {
    gap: 16px;
  }
  .footer__left {
    gap: 16px;
  }
}
@media (max-width: 768px) {
  .footer-wrapper {
    flex-direction: column;
    align-items: baseline;
    gap: 32px;
  }
  .footer__left {
    flex-direction: column;
    align-items: baseline;
  }
  .footer__nav_item {
    flex-direction: column;
    align-items: baseline;
    font-size: 14px;
    line-height: 24px;
  }
  .footer {
    position: relative;
    padding: 50px 0 20px;
  }
}
@media (max-width: 478px) {
  .footer {
    position: relative;
    padding: 40px 0 10px;
  }
}
body {
  width: 100vw;
  background-image: url("../Discover%initiatives%(RFPs)/Data/Grid-top.png");
  background-position: top left;
  background-repeat: repeat-x;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main_title {
  margin-top: 80px;
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -2.2%;
  margin-bottom: 24px;
}

.main_subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -1.4%;
  color: var(--grey);
  margin-bottom: 40px;
  max-width: 60vw;
}

.main_filters {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.main_filters button {
  padding: 12px 16px;
  color: var(--white);
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0);
}
.main_filters .mixer-active {
  background-color: var(--black-grey);
}

.products-container {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 60vw;
}

.product {
  background-color: var(--black-grey);
  padding: 24px;
  border-radius: 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.product__main {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: baseline;
  text-align: left;
}

.product_title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.9%;
}

.product_subtitle {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1.1%;
}

.product_price {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: var(--grey);
}

.product_state {
  display: flex;
  align-items: center;
  height: 32px;
  width: 90px;
  justify-content: center;
  border-radius: 100px;
  padding: 4px 16px;
  background: rgb(28, 28, 40);
  border: 1px solid var(--bg);
  box-sizing: border-box;
}

.completed {
  background: rgb(22, 181, 127);
  position: relative;
  padding-right: 30px;
  width: 130px;
}

.completed::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url("../Discover%initiatives%(RFPs)/Data/fi_check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.open {
  background: var(--blue);
  width: 60px;
}

@media (max-width: 1024px) {
  .main_title {
    margin-top: 60px;
    font-size: 50px;
    line-height: 62px;
    margin-bottom: 22px;
  }
  .main_subtitle {
    margin-bottom: 30px;
    max-width: 80vw;
  }
  .products-container {
    padding: 70px 0;
    width: 70vw;
  }
}
@media (max-width: 768px) {
  .background {
    background-image: url("../Discover%initiatives%(RFPs)/Data/DiscoverMobile.png");
  }
  .product {
    flex-direction: column;
    gap: 20px;
  }
  .main_title {
    margin-top: 40px;
    font-size: 40px;
    line-height: 52px;
  }
  .main_subtitle {
    max-width: 85vw;
  }
  .products-container {
    padding: 60px 0;
    width: 80vw;
  }
}
@media (max-width: 478px) {
  .main_title {
    margin-top: 24px;
    font-size: 32px;
    line-height: 40px;
  }
  .main_subtitle {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    max-width: 90vw;
  }
  .main_filters {
    gap: 16px;
  }
  .main_filters button {
    padding: 10px 12px;
  }
  .products-container {
    padding: 40px 0;
    width: 90vw;
  }
}
.transact {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.transact_title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.transact__box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.transact__box_item {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: var(--black-grey);
  border-radius: 16px;
}

.transact__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.transact_date {
  margin: 8px 0 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: Space Mono;
  color: var(--grey);
}

.transact_descr {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.transact__right {
  display: flex;
  align-items: center;
  gap: 16px;
}
.transact__right img {
  width: 24px;
  height: 24px;
}

.transact_price {
  font-family: Space Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 476px) {
  .transact__box_item {
    flex-direction: column;
    gap: 16px;
  }
  .transact__right {
    width: 100%;
    justify-content: space-between;
  }
  .transact_date {
    margin: 0px 0 8px;
    font-size: 14px;
    line-height: 24px;
  }
  .transact_descr {
    font-size: 14px;
    line-height: 20px;
  }
  .transact_price {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
  .transact_title {
    font-size: 16px;
    line-height: 24px;
  }
}
.transact__box_item {
  width: 100%;
}

.transact__left {
  text-align: left;
}/*# sourceMappingURL=style.css.map */
